<h2>PERSONAS</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element.CPerson}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.NName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="ape">
    <th mat-header-cell *matHeaderCellDef> LastName </th>
    <td mat-cell *matCellDef="let element"> {{element.NLastName}} </td>
  </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="anio">
      <th mat-header-cell *matHeaderCellDef> Birth </th>
      <td mat-cell *matCellDef="let element"> {{element.DBirth}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef> Mail </th>
      <td mat-cell *matCellDef="let element"> {{element.Tmail}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="direc">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address.CAddress}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
